################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Routing/.vs
/Routing/bin/Debug/net8.0
/Routing/obj
/StaticFilesExample/.vs/StaticFilesExample
/StaticFilesExample
/ControllersExamples/.vs/ControllersExamples
/ControllersExamples/bin/Debug/net8.0
/ControllersExamples/obj
/ControllersExamples/Properties
/ControllersExamples/.vs/ProjectEvaluation
