################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Routing/.vs
/Routing/bin/Debug/net8.0
/Routing/obj
/StaticFilesExample/.vs/StaticFilesExample
/StaticFilesExample
/ControllersExamples/.vs/ControllersExamples
/ControllersExamples/bin/Debug/net8.0
/ControllersExamples/obj
/ControllersExamples/Properties
/ControllersExamples/.vs/ProjectEvaluation
/IActionResultExample/obj
/IActionResultExample/.vs/IActionResultExample
/IActionResultExample/bin/Debug/net8.0
/IActionResultExample/.vs/ProjectEvaluation
/ModelValidationExamples/.vs/ModelValidationExamples
/ModelValidationExamples/bin/Debug/net8.0
/ModelValidationExamples/obj
/ModelValidationExamples/.vs/ProjectEvaluation
/OrderSolutioon/.vs
/OrderSolutioon/bin/Debug/net8.0
/OrderSolutioon/obj
/ViewExample/.vs/ViewExample
/ViewExample/bin/Debug/net8.0
/ViewExample/obj
/ViewExample/.vs/ProjectEvaluation
