################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Routing/.vs
/Routing/bin/Debug/net8.0
/Routing/obj
