
@using ViewExample.Models
@{
    string appTitle = "Asp.Net Core Demo App";
    List<Person> people = new List<Person>()
    {
    new Person(){Name="Atul",DateOfBirth=DateTime.Parse("2002-05-06"),PersonGender = Gender.Male},
    new Person() { Name = "jon", DateOfBirth = DateTime.Parse("2005-09-06"), PersonGender = Gender.Female },
    new Person(){Name="boss",DateOfBirth=DateTime.Parse("2006-05-20"),PersonGender = Gender.other}
    };
}
<!DOCTYPE <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
    <title>@appTitle</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <h1>Welcome</h1>
        @foreach(var person in people)
        {
          <div>
              @person.Name
              <span>,</span>
              <span>@person.PersonGender</span>
              @if (person.DateOfBirth !=null)
              {
                <span>@person.DateOfBirth.Value.ToString("MM/dd/yyyy")</span>
              }            
          </div>
        }
</body>
</html>